<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/start.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Phwoolcon - Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Phwoolcon - Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <file>functions.php</file>
            <exclude>
                <file>src/Cli/Command/Migrate/template.php</file>
                <file>src/Protocol/StreamWrapperTrait.php</file>
                <file>src/Cli/Output/Stream.php</file>
                <file>src/Cli/Command/ClearCacheCommand.php</file>
                <file>src/Cli/Command/PhpunitPickPackageCommand.php</file>

                <!-- TODO Implement service tests -->
                <file>src/Cli/Command/ServiceCommand.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
